/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

div {
  background-color: rgba(118, 12, 218, 0.774);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

div > div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

div {
  background-color: blueviolet;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

div > div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}


input[type="text"],
input[type="number"],
button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #45a049;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
